@import 'content';

.inline-help {
	position: fixed;
		right: 24px;
		bottom: 24px;

	z-index: z-index( 'root', '.floating-help' );

	.button.inline-help__happychat-button {
		position: absolute;
		bottom: 60px;
		right: 5px;

		line-height: 0;
		padding: 1px;
		border-radius: 100%;
		background: $blue-wordpress;
		box-shadow: 0 2px 6px rgba( 0, 0, 0, 0.15 );
		border: 1px solid darken( $blue-wordpress, 5 );

		.gridicon {
			fill: $white;
			margin: 2px;
			top: 0;
			height: 24px;
			width: 24px;
		}

		&.is-active {
			background: $blue-medium;
			border-color: darken( $blue-medium, 5 )
		}
	}

	.button.inline-help__happychat-button.has-unread {
		background-color: $orange-jazzy;
		border-color: $orange-jazzy;
	}
}

.button.is-borderless.inline-help__button {
	position: absolute;
		right: 0px;
		bottom: 0px;
	line-height: 0;
	padding: 1px;
	border-radius: 100%;
	background: $blue-wordpress;
	box-shadow: 0 2px 6px rgba( 0, 0, 0, 0.15 );
	border: 1px solid darken( $blue-wordpress, 5 );
	transition: all 0.2s ease-in-out;

	.gridicon {
		fill: $white;
		margin: 0;
		top: 0;
		height: 36px;
		width: 36px;

		g {
			transform: none;
		}
	}

	&:hover:not(.is-active) {
		animation: wiggle .8s .5s ease-in-out infinite;
		box-shadow: 0 2px 6px rgba( 0, 0, 0, 0.3 );
	}

	&.is-active {
		background: $blue-medium;
		border-color: darken( $blue-medium, 5 )
	}
}

@keyframes wiggle {
	0% {
		transform: rotate( 0 );
	}
	40% {
		transform: rotate( 15deg );
	}
	50% {
		transform: rotate( -15deg );
	}
	100% {
		transform: rotate( 0 );
	}
}

.inline-help__popover.popover {
	@include breakpoint( "<660px" ) {
			top: 0 !important;
			right: 0 !important;
			bottom: 0 !important;
			left: 0 !important;
			position: fixed;
		background: rgba( $gray-light, 0.8 );

		.popover__arrow {
			display: none;
		}

		.popover__inner {
			top: auto !important;
			right: auto !important;
			bottom: auto !important;
			left: auto !important;
			margin: 16px;
		}
	}

	p {
		font-size: 12px;

		@include breakpoint( ">660px" ) {
			font-size: 14px;
		}
	}

	a, button {
		font-size: 12px;

		@include breakpoint( ">660px" ) {
			font-size: 14px;
		}
	}

	@include breakpoint( ">660px" ) {
		width: 320px;

		position: fixed;
			top: auto !important;
			bottom: 76px !important;
	}

	&.is-top .popover__arrow:before,
	&.is-top-left .popover__arrow:before,
	&.is-top-right .popover__arrow:before {
		border-top: 10px solid $gray-light;
	}
}

.inline-help__search {
	.is-secondary-view-active & {
		display: none;
	}

	.search-card {
		border-radius: 4px 4px 0 0;
		margin: 0;

		.search {
			border-radius: 4px 4px 0 0;
			height: auto;

			&.is-open.has-focus {
				box-shadow: 0 0 0 1px $blue-wordpress,
					0 0 0 6px $blue-light;

				@include breakpoint( ">660px" ) {
					box-shadow: 0 0 0 1px $blue-wordpress,
						0 0 0 4px $blue-light;
				}
			}

			.search__input {
				font-size: 18px;
				padding: 12px 0;
				color: $gray-text;

				@include breakpoint( ">660px" ) {
					font-size: 15px;
					padding: 16px 0;
				}
			}

			.search__icon-navigation:focus {
				border-radius: 3px;
				box-shadow: 0 0 0 3px $blue-light;
			}
		}
	}

	.button {
		vertical-align: middle;
	}
}

.inline-help__secondary-view {
	display: none;

	box-sizing: border-box;
	max-height: 70vh;
	min-height: 206px;
	overflow-y: auto;
	padding: 16px;

	.is-secondary-view-active & {
		display: block;
	}

	.button {
		width: 100%;
		text-align: center;
	}
}

.inline-help__richresult {
	text-align: left;

	.inline-help__richresult__title {
		display: block;
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 5px;
	}
}

.inline-help__richresult__dialog.dialog.card {
	width: 80vw;
	max-width: 850px;
}

.inline-help__richresult__dialog__video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;

	iframe,
	object,
	embed {
		position: absolute;
			top: 0;
			left: 0;
		width: 100%;
		height: 100%;
	}
}

.inline-help__contact {

	.help-contact__form {
		margin: 0;
		padding: 0;
		box-shadow: none;
		text-align: left;
		border-radius: 4px 4px 0 0;

		.sites-dropdown__wrapper {
			max-width: 100%;

			.site__content {
				padding: 8px;
			}
		}

		.help-contact-confirmation {
			min-height: auto;
			height: auto;

			.help-contact-confirmation__contents {
				margin: 20px 0;
			}
		}
	}

	.help-contact-form__site-selection {
		margin-bottom: 8px;
	}

	.sites-dropdown {
		.site-selector .search {
			top: 51px;
		}
		.site-selector__sites {
			max-height: 20vh;
		}
	}
}

.inline-help__footer {
	background: $gray-light;
	border-top: 1px solid $gray-lighten-20;
	border-radius: 0 0 4px 4px;

	.button.is-borderless.inline-help__more-button,
	.button.is-borderless.inline-help__contact-button,
	.button.is-borderless.inline-help__cancel-button {
		text-align: left;
		width: 50%;
		position: relative;
		padding: 12px 8px 12px 46px;

		.gridicon.inline-help__gridicon-left {
			margin: 0;
			position: absolute;
				top: 11px;
				left: 13px;
		}

		.gridicon.inline-help__gridicon-right {
			margin: 0;
			position: absolute;
				top: 11px;
				right: 13px;
		}

		&:hover {
			color: $blue-medium;

			.gridicon {
				fill: $blue-medium;
			}
		}
	}

	.button.is-borderless.inline-help__contact-button {
		padding-right: 24px;
	}

	// Hide/Show buttons as needed
	.inline-help__cancel-button {
		display: none;
	}

	.is-secondary-view-active & {
		.inline-help__more-button,
		.inline-help__contact-button {
			display: none;
		}

		.inline-help__cancel-button {
			display: block;
		}
	}
}

.inline-help__results-list {
	list-style: none;
	text-align: left;
	margin: 0;
	padding: 8px 0;

	.help-contact-form & {
		padding: 0;
	}
}

.inline-help__results-item {
	margin: 0;
	font-size: 14px;

	@include breakpoint( ">660px" ) {
		font-size: 18px;
		line-height: 1.3;
	}

	a {
		color: $blue-wordpress;
		text-decoration: underline;
		font-weight: normal;
		line-height: 1.4;
		display: block;
		padding: 8px 16px;

		&:hover {
			cursor: pointer;
			color: $blue-medium;
			background: lighten( $gray, 35% );
		}
	}

	&.is-selected {
		background: $blue-medium;
		cursor: pointer;
		color: $white;

		a {
			color: $white;
		}
	}

	.help-contact-form & {
		a {
			padding-left: 0;

			&:hover {
				background: none;
			}
		}
	}
}

.inline-help__empty-results {
	padding: 16px 0 0 0;
	margin: 0;
	font-size: 14px;
	color: $gray;
	font-style: italic;

	@include breakpoint( ">660px" ) {
		font-size: 16px;
	}
}

// PlaceholderLines component
.inline-help__results-placeholder {
	margin: 16px;
	min-height: 120px;
}

.inline-help__results-placeholder-item {
	height: 16px;
	margin: 16px 0;
	border-radius: 16px;
	background-color: lighten( $gray, 28 );
	color: transparent;
	animation: inline-help__results-placeholder-loading 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
	animation-delay: 0s;

	&:nth-child( 1 ) {
		animation-delay: -1.3s;
	}

	&:nth-child( 2 ) {
		animation-delay: -2.5s;
	}

	&:nth-child( 3 ) {
		animation-delay: -3.8s;
	}

	&:after {
		content: '\00a0';
	}
}

@keyframes inline-help__results-placeholder-loading {
	0% {
		opacity: 0.3;
		width: 65%;
	}
	25% {
		opacity: 0.6;
		width: 90%;
	}
	50% {
		opacity: 0.5;
		width: 18%;
	}
	75% {
		opacity: 0.8;
		width: 75%;
	}
	100% {
		opacity: 0.3;
		width: 65%;
	}
}


// ========

// Styles targeted at story content

.is-group-reader.has-no-sidebar {

	.masterbar {

		@include breakpoint( "<660px" ) {
			display: none; // Hides masterbar in fullpost mobile
		}
	}
}

.inline-help__article-view.main {
	// Turns off the implicit positioning context set up by the normal main styles
	// This allows our fixed positioned elements to be positioned relative to the main html document
	backface-visibility: visible;
	perspective: none;
}

.inline-help__article-view__content {
	margin: 0 auto;

	@include breakpoint( ">1280px" ) {
		width: 720px;
		// padding-left: 260px;
	}

	@include breakpoint( "1040px-1280px" ) {
		width: 720px;
		// padding-left: 240px;
	}

	@include breakpoint( "660px-1040px" ) {
		width: auto;
		margin: 0;
		// padding-left: 240px;
	}

	@include breakpoint( "<660px" ) {
		width: auto;
		padding: 0 20px;
	}
}

.inline-help__article-view__visit-site-container {
	background: $white;
	border-bottom: 1px solid $gray-light;
	font-size: 11px;
	font-weight: 500;
	height: 46px;
	margin: 0;
	position: fixed;
		right: 0;
		top: 0;
	text-transform: uppercase;
	z-index: z-index( '.inline-help__article-view__sidebar-comment-like', '.inline-help__article-view__visit-site-container' );

	@include breakpoint( ">660px" ) {
		border: 0;
		position: absolute;
			top: 47px;
		z-index: 0;
	}

	.external-link .gridicons-external {
		fill: $gray-darken-10;
		top: 5px;

		@include breakpoint( ">660px" ) {
			top: 3px;
		}
	}

	.external-link {
		color: $gray-darken-10;
		display: block;
		padding: 10px 10px 15px 6px;

		@include breakpoint( ">660px" ) {
			padding: 10px 20px 15px 20px;
		}

		&:hover {
			color: $blue-medium;

			.gridicons-external {
				fill: $blue-medium;
			}
		}
	}

	.inline-help__article-view__visit-site-label {

		@include breakpoint( "<660px" ) {
			display: none;
		}
	}
}

.inline-help__article-view__sidebar {
	width: 220px;
	position: fixed;
	text-align: center;

	@include breakpoint( ">1280px" ) {
		left: calc( 50% - 490px );
	}

	@include breakpoint( "1040px-1280px" ) {
		left: calc( 50% - 480px );
	}

	@include breakpoint( "660px-1040px" ) {
		left: 20px;
	}

	@include breakpoint( "<660px" ) {
		position: static;
		text-align: left;
		width: auto;
	}
}

.inline-help__article-view__story {
	max-width: 720px;

	.reader-full-post__header-title {
		margin: 12px 0 0;
	}

	@include breakpoint( "<480px" ) {
		font-size: 15px;
		line-height: 24px;
	}

	@include breakpoint( "<660px" ) {
		margin-top: -35px;
	}
}

.inline-help__article-view__story-content {
	.toc-jump {
		display: none;
	}

	color: $gray-dark;
	font-size: 17px;
	line-height: 28px;
}

.inline-help__article-view__story-content img {
	margin-bottom: 12px;
}

.inline-help__article-view__story-content figure img {
	margin-bottom: 0;
}

.inline-help__article-view .back-button {
	position: absolute;

	@include breakpoint( "<660px" ) {
		background: transparent;
		border-bottom: 0;
		position: fixed;
		width: 100px;
		z-index: z-index( '.inline-help__article-view__sidebar-comment-like', '.inline-help__article-view .back-button' );
	}
}

.inline-help__article-view .author-compact-profile {
	display: inline-flex;
	flex-direction: column;

	@include breakpoint( "<660px" ) {
		margin-bottom: 35px;
		padding-right: 10px;
		position: relative;
		text-overflow: clip;
		white-space: nowrap;

		&::after {
			height: 40px;
		}

		&:not( .is-placeholder )::after {
			@include long-content-fade( $size: 15% );
		}
	}

	.reader-author-link {
		margin-top: 0;
	}

	@include breakpoint( "<660px" ) {
		flex-direction: row;
		margin-top: 20px;

		.reader-avatar {
			flex: 1;
			margin: 0 0 0 -9px;

			&.has-site-and-author-icon,
			&.has-site-icon,
			&.has-gravatar {
				margin: 0 10px 5px 0;
			}

			&.has-gravatar {

				.gravatar {
					height: 32px!important;
					width: 32px!important;
					max-width: none;
				}
			}

			&.has-site-and-author-icon.has-site-icon.has-gravatar {
				margin-bottom: -15px;

				.gravatar {
					height: 24px!important;
					margin-right: 1em;
					position: relative;
						left: 18px;
						top: -18px;
					vertical-align: bottom;
					width: 24px!important;
				}
			}

			.site-icon {
				height: 32px!important;
				width: 32px!important;
				line-height: 32px!important;
				font-size: 32px!important;

				.gridicon {

					@include breakpoint( "<660px" ) {
						height: 32px!important;
						width: 32px!important;
						line-height: 32px!important;
						font-size: 32px!important;
					}
				}
			}
		}

		.reader-author-link {
			font-weight: 700;
			display: inline;
			margin-right: 5px;

			&::after {
				content: ',';
				font-weight: normal;
			}
		}

		.author-compact-profile__site-link {
			flex: 1 0 0;
			display: inline;

			@include breakpoint( "<660px" ) {
				margin-top: 0;
			}
		}

		.reader-author-link,
		.author-compact-profile__site-link {
			padding-top: 5px;
		}

		.author-compact-profile__follow .follow-button {
			position: fixed;
				left: calc( 100% - 270px );
				top: 5px;

			@include breakpoint( "<660px" ) {
				background: transparent;
				position: fixed;
				z-index: z-index( '.inline-help__article-view__sidebar-comment-like', '.author-compact-profile__follow .follow-button' );

				.gridicon {
					height: 24px;
					top: 7px;
					width: 24px;
				}
			}
		}

		.author-compact-profile__follow-count {
			display: none;
		}

		.author-compact-profile__follow .follow-button__label {

			@include breakpoint( "<660px" ) {
				display: none;
			}
		}
	}
}

.inline-help__article-view .inline-help__article-view__sidebar {
	color: $gray-text-min;

	a.reader-author-link,
	a.author-compact-profile__site-link {
		color: $blue-medium;

		&:hover {
			color: $blue-light;
		}
	}
}

// Action buttons in full-post
.inline-help__article-view .reader-post-actions {
	clear: both;
	margin-bottom: 20px;

	.post-edit-button__label,
	.reader-share__button-label,
	.comment-button__label,
	.like-button__label {
		font-size: 17px;
	}
}

.inline-help__article-view .like-button .gridicon {
	top: 4px;
}

.inline-help__article-view__sidebar-comment-like {

	 @include breakpoint( "<660px" ) {
		align-items: flex-start;
		background: white;
		display: flex;
		border-bottom: 1px solid $gray-lighten-30;
		flex-direction: row;
		height: 47px;
		justify-content: flex-end;
		position: fixed;
			left: 0;
			top: 0;
		width: 100%;
		z-index: z-index( 'root', '.inline-help__article-view__sidebar-comment-like' );
	 }
}

.inline-help__article-view__sidebar .like-button {

	@include breakpoint( "<660px" ) {
		margin-right: 60px;
			top: 9px;
	}

	.like-button__label-status {
		display: none;
	}
}

.inline-help__article-view__sidebar .comment-button__label,
.inline-help__article-view__sidebar .like-button__label {
	font-size: 14px;
}

.inline-help__article-view__sidebar .comment-button {
	margin-right: 18px;

	@include breakpoint( "<660px" ) {
		top: 9px;
	}

	.comment-button__label-status {
		display: none;
	}
}

// Align meta info and post title
.inline-help__article-view .has-author-link .author-compact-profile__avatar-link {
	display: none;
}

.inline-help__article-view .has-author-link.has-author-icon {
	margin-top: 25px;

	@include breakpoint( ">660px" ) {
		margin-top: 5px;
	}

	.reader-author-link {
		margin-top: 0;
	}

	.author-compact-profile__avatar-link {
		display: block;
	}
}

.inline-help__article-view .has-author-link {
	margin-top: 14px;
}

.inline-help__article-view .has-author-link .reader-author-link {

	@include breakpoint( ">660px" ) {
		margin-top: 4px;
	}
}

// For posts without a title
.inline-help__article-view__header.is-missing-title {
	margin-top: 60px;

	.inline-help__article-view__header-meta {
		margin-bottom: 20px;
	}
}

.inline-help__article-view__header-title {
	clear: none;
	color: $gray-dark;
	font-family: $serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 26px;
	font-weight: 700;
	line-height: 34px;
	margin: 56px 0 0;
	max-width: 750px;

	@include breakpoint( ">960px" ) {
		font-size: 36px;
		line-height: 46px;
	}

	@include breakpoint( "480px-960px" ) {
		font-size: 32px;
		line-height: 40px;
	}

	@include breakpoint( "<660px" ) {
		margin-top: 8px;
	}

	.inline-help__article-view__header-title-link {
		display: block;
	}

	.inline-help__article-view__header-title-link,
	.inline-help__article-view__header-title-link:hover {
		color: $gray-dark;
	}
}

.inline-help__article-view__header-meta {
	display: flex;
	flex-direction: row;
	font-size: 15px;
	max-width: 750px;
}

.inline-help__article-view__header-date {
	line-height: 1.6;

	@include breakpoint( "<480px" ) {
		line-height: 1.4;
	}
}

.inline-help__article-view__header-date-link {
	margin-right: 25px;
}

.inline-help__article-view__header-date-link,
.inline-help__article-view__header-date-link:visited {
	color: $gray;

	&:hover {
		color: $blue-light;
	}
}

.inline-help__article-view__header-tags {
	display: inline-flex;
	flex: 1;
	width: calc( 100% - 120px );

	.gridicon {
		fill: $gray;
		margin-right: 5px;
		position: relative;
			top: 4px;

		@include breakpoint( "<480px" ) {
			top: 2px;
		}
	}
}

.inline-help__article-view__header-tag-list {
	color: $gray;
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;

	&::after {
		@include long-content-fade( $size: 20px );
	}
}

.inline-help__article-view__header-tag-list-item {
	color: $gray;
	display: inline;
	margin-right: 5px;

	&::after {
		content: ',';
	}

	&:last-child {
		margin-right: 0;

		&::after {
			content: '';
		}
	}
}

.inline-help__article-view__header-tag-list-item-link,
.inline-help__article-view__header-tag-list-item-link:visited {
	color: $gray;

	&:hover {
		color: $blue-light;
	}
}

.inline-help__article-view__header {
	margin-bottom: 23px;
}

.inline-help__article-view__featured-image {
	margin: 28px 0 26px;
}

.inline-help__article-view .embed-youtube,
.inline-help__article-view .embed-vimeo {
	display: block;
	margin-bottom: 25px;
	position: relative;
	padding: 25px 0 56.25%;
	// We currently have to use !important here to override the inline style on the Youtube embed
	// - see https://github.com/Automattic/wp-calypso/issues/9615
	text-align: initial !important;

	iframe {
		height: 100%;
		position: absolute;
			top: 0;
		width: 100%;
	}
}

.inline-help__article-view .embed-vimeo {
	margin-bottom: 0;
}

.inline-help__article-view__unavailable-message {
	margin-top: 1em;
}

// Placeholders
.inline-help__article-view__header-title,
.inline-help__article-view__header-date {
	&.is-placeholder {
		@include placeholder();
	}
}

.inline-help__article-view__header-date.is-placeholder {
	margin-top: 4px;
}

.inline-help__article-view__story-content-placeholder-text {
	@include placeholder();
	margin-bottom: 16px;
	min-height: 200px;
}
